<%= simple_form_for form, as: :question, url: url, method: method do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.input :type, as: :select, label: false, collection: ::Rapidfire::QuestionForm::QUESTION_TYPES,
                  input_html: { id: 'question_type', class: 'browser-default' }%>
    </div>

    <div class="input-field col s12">
      <%= f.input :question_text %>
    </div>

    <div class="input-field col s12">
      <%= f.input :answer_options, as: :text, input_html: { class: 'materialize-textarea' } %>
    </div>
  </div>

  <h4>Other options</h4>

  <div class="row">
    <div class="input-field col s4">
      <%= f.input :answer_presence, as: :boolean %>
    </div>

    <div class="input-field col s4">
      <%= f.input :answer_minimum_length, as: :integer %>
    </div>

    <div class="input-field col s4">
      <%= f.input :answer_maximum_length, as: :integer %>
    </div>

    <div class="input-field col s4">
      <%= f.input :answer_greater_than_or_equal_to, as: :integer %>
    </div>

    <div class="input-field col s4">
      <%= f.input :answer_less_than_or_equal_to, as: :integer %>
    </div>
  </div>

  <%= fab_to_save(back_url: question_group_questions_url) %>
<% end %>
