<div class="container">
  <h4><%= t('.title') %></h4>
  <table>
    <thead>
      <tr>
        <th><%= ta(Rapidfire::Question, :question_text) %></th>
        <th><%= ta(Rapidfire::Question, :type) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'question', collection: @questions %>
    </tbody>
  </table>
</div>

<%= fab_to_new(new_question_group_question_path(@question_group)) %>
