<%= simple_form_for([:admin, @basic_treatment]) do |f| %>
  <% if @basic_treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_treatment.errors.count, "error") %> prohibited this basic_treatment from being saved:</h2>

      <ul>
      <% @basic_treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.input :description %>
  </div>
  <div class="input-field">
    <%= f.input :common, as: :boolean %>
  </div>

  <%= fab_to_save back_url: admin_basic_treatments_url %>
<% end %>
