<p id="notice"><%= notice %></p>

<h1>Listing Tratamentos Básicos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Common</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @basic_treatments.each do |basic_treatment| %>
      <tr>
        <td><%= basic_treatment.description %></td>
        <td><%= basic_treatment.common %></td>
        <td><%= link_to 'Show', admin_basic_treatment_path([:admin, basic_treatment]) %></td>
        <td><%= link_to 'Edit', edit_admin_basic_treatment_path(basic_treatment) %></td>
        <td><%= link_to 'Destroy', admin_basic_treatment_path([:admin, basic_treatment]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Basic treatment', new_admin_basic_treatment_path %>
