<div class="container">
  <h4><%= t('.title') %></h4>

  <table>
    <thead>
    <tr>
      <th><%= ta(BasicTreatment, :description) %></th>
      <th><%= ta(BasicTreatment, :common) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @basic_treatments.each do |basic_treatment| %>
      <tr>
        <td><%= basic_treatment.description %></td>
        <td><%= to_icon(basic_treatment.common) %></td>

        <td class=""><%= link_to t('.edit'), edit_admin_basic_treatment_path(basic_treatment) %></td>
        <td><%= link_to t('.destroy'), admin_basic_treatment_path([:admin, basic_treatment]),
                        method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= fab_to_new(new_admin_basic_treatment_url) %>
