<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @admin_basic_treatment.description %>
</p>

<p>
  <strong>Common:</strong>
  <%= @admin_basic_treatment.common %>
</p>

<%= link_to 'Edit', edit_admin_basic_treatment_path(@admin_basic_treatment) %> |
<%= link_to 'Back', admin_basic_treatments_path %>
