<%= simple_form_for @patient do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.input :name %>
    </div>

    <div class="input-field col s6">
      <%= f.input :cellphone %>
    </div>

    <div class="input-field col s6">
      <%= f.input :phone %>
    </div>

    <div class="input-field col s12">
      <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <%= f.input :zip_code, input_html: { onblur: 'loadCEP()' } %>
    </div>

    <div class="input-field col s4">
      <%= f.input :state %>
    </div>

    <div class="input-field col s4">
      <%= f.input :city %>
    </div>

    <div class="input-field col s6">
      <%= f.input :address %>
    </div>

    <div class="input-field col s4">
      <%= f.input :district %>
    </div>

    <div class="input-field col s2">
      <%= f.input :number %>
    </div>

    <div class="input-field col s12">
      <br />

      <%= f.association :basic_treatments, collection: BasicTreatment.all, as: :check_boxes,
                        label_method: :description, item_wrapper_class: 'col l4 s12',
                        checked: @patient.basic_treatment_ids %>
    </div>
  </div>

  <%= fab_to_save back_url: patients_path %>
<% end %>
