<%= simple_form_for @patient do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.input :name, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s12">
      <%= f.input :address, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.input :state, as: :select, collection: [['Paraná', 1], ['São Paulo', 2]],
                  input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s6">
      <%= f.input :city, as: :select, collection: [['Fco Beltrão', 1], ['Marmeleiro', 2]],
                  input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <%= f.input :zip_code, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s3">
      <%= f.input :number, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s6">
      <%= f.input :district, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s12">
      <%= f.input :email, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s6">
      <%= f.input :phone, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="input-field col s6">
      <%= f.input :cellphone, input_html: { class: 'validate' }, label_input: { class: 'active' }  %>
    </div>

    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="mdi-content-save right"></i>
      </button>
    </div>
  </div>
<% end %>
