<div class="container">
  <h4><%= t('.title') %> <%= link_to raw('<i class="mdi-social-plus-one"></i>'), new_patient_path %> </h4>
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
    <tr>
      <th><%= ta(Patient, :name) %></th>
      <th><%= ta(Patient, :cellphone) %></th>
      <th><%= ta(Patient, :email) %></th>
      <th><%= ta(Patient, :zip_code) %></th>
      <th><%= ta(Patient, :address) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.cellphone %></td>
        <td><%= patient.email %></td>
        <td><%= patient.zip_code %></td>
        <td><%= patient.address %></td>

        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
