<div class="container">
  <h4>
    <%= t('.title') %>
    <%= link_to raw('<i class="mdi-social-plus-one"></i>'), new_admin_basic_question_path %>
  </h4>
  <p id="notice"><%= notice %></p>

  <table>
    <thead>
    <tr>
      <th><%= ta(BasicQuestion, :kind) %></th>
      <th><%= ta(BasicQuestion, :description) %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @basic_questions.each do |basic_question| %>
      <tr>
        <td><%= basic_question.kind_humanize %> </td>
        <td class="truncate"><%= basic_question.description %> </td>
        <td><%= link_to 'Show', [:admin, basic_question] %></td>
        <td><%= link_to 'Edit', edit_admin_basic_question_path(basic_question) %></td>
        <td><%= link_to 'Destroy', [:admin, basic_question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
