<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medical Charts!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= render 'layouts/header' %>
</div>
<div style="min-height: 700px;">
  <%= yield %>
</div>
<div>
  <%= render 'layouts/sidebar' %>
</div>
<%= javascript_include_tag 'application' %>

<script>
  $(function() {
    <% if notice %>
    toast('<%= notice %>', 4000);
    <% end %>
  });
</script>
</body>
</html>
